/* #region hero */
.hero_container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
	width: 90%;
	height: auto;
}

.hero_text {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	gap: 1.5rem;
	text-align: left;
}

/* #endregion */
